* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}
.c-task-one {
  padding: 40px 30px 20px 30px;
}

.c-task-one__title {
  margin-bottom: 10px;
}
.c-task-one__form {
  margin-bottom: 10px;
}

.c-task-two {
  padding: 0 30px 20px 30px;
}
.c-task-two__title {
  margin-bottom: 10px;
}
.c-task-two__form {
  margin-bottom: 10px;
}
.c-task-third;
