* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}

h1 {
  text-align: center;
  color: rgb(20, 117, 85);
}

.c-task1__wrapper {
  padding: 20px 50px;
}

.c-task1__title,
.c-task1__paragraph,
button {
  margin-bottom: 10px;
}
