* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}
.c-header {
  text-align: center;
}

.task {
  padding: 0 50px 30px 50px;
}
.c-task1__wrapper {
  display: flex;
}
