* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 24px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #143861;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(121, 170, 170);
  font-family: "Nanum Gothic", sans-serif;
}

.c-header {
  padding: 20px 50px;
}
h3,
.c-content__textarea {
  color: rgb(204, 228, 220);
}
.c-content {
  padding: 0 50px;
}

.c-content__textarea {
  border: 2px solid rgb(54, 148, 117);
}
textarea {
  max-width: 290px;
  width: 100%;
  height: 100px;
  background-color: rgb(121, 170, 170);
}
