.c-task__round {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
}

.c-task__traffic {
  margin: auto;
  width: 60px;
  height: 200px;
  padding: 10px 0;
  padding-bottom: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 0.5rem;
}
.c-task__round {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: grey;
}
.traffic__off {
  background-color: #555;
}
.traffic__red {
  background-color: red;
}
.traffic__green {
  background-color: green;
}
.traffic__yellow {
  background-color: yellow;
}
.traffic__btn {
  border-radius: 0.5rem;
}
