.c-content__block {
  display: block;
  position: relative;
  min-height: 50px;
  width: 200px;
  margin: auto;
  text-align: justify;
  padding: 5px;
  border: 2px solid rgb(7, 121, 96);
  border: rgb(127, 202, 177);
  margin-bottom: 10px;
}
.c-content__block--resizer {
  display: block;
  position: absolute;
  right: -10px;
  bottom: -10px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  border: 2px solid blue;
  cursor: col-resize;
}
