* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.c-header__wrapper {
  margin-top: 65px;
}
.c-header__title {
  max-width: 1030px;
  margin: 0 auto;
  text-align: center;
}
.e-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.e-title {
  font-size: 86px;
  font-weight: 600;
  line-height: 95px;
}

img {
  max-width: 440px;
  width: 100%;
}
